.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
}
.page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: 100rem;
    border-bottom-left-radius: 100rem;
}
li {
    text-align: -webkit-match-parent;
}