<div style="text-align:center">
<button type="button" ng-click="mercuryClicked()" class="btn btn-mercury btn-arrow-left">Mercury</button>
<button type="button" ng-click="venusClicked()" class="btn btn-venus btn-arrow-left">Venus</button>
<button type="button" ng-click="earthClicked()" class="btn btn-earth">Earth</button>
<button type="button" ng-click="marsClicked()" class="btn btn-mars btn-arrow-right">Mars</button>
<button type="button" ng-click="jupiterClicked() "class="btn btn-jupiter btn-arrow-right">Jupiter</button>
<button type="button" ng-click="saturnClicked()" class="btn btn-saturn btn-arrow-right">Saturn</button>
<button type="button" ng-click="uranusClicked()" class="btn btn-uranus btn-arrow-right">Uranus</button>
<button type="button" ng-click="neptuneClicked()" class="btn btn-neptune btn-arrow-right">Neptune</button>
</div>
<div *ngIf="earthFlag">
<div class="engine-wrapper">
  <canvas #rendererCanvas id="renderCanvas"></canvas>
</div>
</div>
